table {
    font-size: 20px;
    font-weight: 700;
}

tr th:first-child,
tr td:first-child {
    color: red;
}

tr th:last-child,
tr td:last-child {
    color: blue;
}

tr td.holiday {
    color: red;
}